/* Structure */
table {
  width: 100%;
  box-shadow: none;
}

.search{
  background: white;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.content{
  padding: 25px;
  background-color: white;
}
