<h1 mat-dialog-title *ngIf="!data.id">Cadastrar Animal</h1>
<h1 mat-dialog-title *ngIf="data.id">Alterar Animal</h1>

<div mat-dialog-content class="body" [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>especie</mat-label>
    <input formControlName="especie" matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>quantidade</mat-label>
    <input formControlName="quantidade" type="number" matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>justificativa</mat-label>
    <input formControlName="justificativa" matInput>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button cdkFocusInitial *ngIf="data.id" color="primary" (click)="atualizar()">Alterar</button>
  <button mat-raised-button cdkFocusInitial *ngIf="!data.id" color="primary" (click)="cadastrar()">Cadastrar</button>
</div>
