div:first-child{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: rgb(33, 37, 41);

}

body {

}

h1{
  margin-bottom: 4rem;
  color: white;
}
