<h1 mat-dialog-title *ngIf="!data.id">Cadastrar Protocolo</h1>
<h1 mat-dialog-title *ngIf="data.id">Alterar Protocolo</h1>

<div mat-dialog-content class="body" [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Matricula</mat-label>
    <input formControlName="matricula" matInput>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Justificativa</mat-label>
    <input formControlName="justificativa" matInput>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Data prevista p/ inicio</mat-label>
    <input matInput [matDatepicker]="picker1" formControlName="dataPrevInicio">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Data prevista p/ termino</mat-label>
    <input matInput [matDatepicker]="picker2" formControlName="dataPrevTermino">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Bioterio</mat-label>
    <mat-select formControlName="bioterio" [compareWith]="compareObjects">
      <mat-option *ngFor="let bioterio of bioterios" [value]="bioterio">
        {{bioterio.nome}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Resumo em Português</mat-label>
    <textarea matInput formControlName="resumoPt"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Resumo em Inglês</mat-label>
    <textarea matInput formControlName="resumoEng"></textarea>
  </mat-form-field>

  <span class="add-especies-label">Adicionar Especies:</span>
  <div [formGroup]="formEspecies" class="especies">
    <mat-form-field appearance="outline">
      <mat-label>especie</mat-label>
      <input formControlName="especie" matInput>
    </mat-form-field>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>quantidade</mat-label>
        <input formControlName="qtd" type="number" matInput>
      </mat-form-field>
      <button mat-button (click)="addEspecie()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="especie">
      <th mat-header-cell *matHeaderCellDef> Especie </th>
      <td mat-cell *matCellDef="let element"> {{element.especie}} </td>
    </ng-container>

    <ng-container matColumnDef="qtd">
      <th mat-header-cell *matHeaderCellDef style="width: 30%"> Quantidade </th>
      <td mat-cell *matCellDef="let element"> {{element.qtd}} </td>
    </ng-container>

    <ng-container matColumnDef="del">
      <th mat-header-cell *matHeaderCellDef style="width: 10%">  </th>
      <td mat-cell *matCellDef="let element; let i = index" > <mat-icon (click)="removeEspecie(i)" style="cursor: pointer;">delete</mat-icon> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button cdkFocusInitial *ngIf="data.id" color="primary" (click)="atualizar()">Alterar</button>
  <button mat-raised-button cdkFocusInitial *ngIf="!data.id" color="primary" (click)="cadastrar()">Cadastrar</button>
</div>
