<app-add-docente (updateList)="getDocentes()"></app-add-docente>

<mat-form-field appearance="outline" class="search">
  <mat-label>Pesquisar</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
  </ng-container>

  <ng-container matColumnDef="matricula">
    <th mat-header-cell *matHeaderCellDef> Matricula </th>
    <td mat-cell *matCellDef="let element"> {{element.matricula}} </td>
  </ng-container>

  <ng-container matColumnDef="nascimento">
    <th mat-header-cell *matHeaderCellDef> Nascimento </th>
    <td mat-cell *matCellDef="let element"> {{element.nascimento | date}} </td>
  </ng-container>

  <ng-container matColumnDef="departamento">
    <th mat-header-cell *matHeaderCellDef> Departamento </th>
    <td mat-cell *matCellDef="let element"> {{element.departamento}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element" style="text-align: right;">
      <button mat-button [matMenuTriggerFor]="menu"> <mat-icon>settings</mat-icon> </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="excluirDocente(element.id)">Excluir</button>
        <button mat-menu-item (click)="alterarDocente(element)">Alterar</button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">Nenhum dado encontrado com o filtro "{{input.value}}"</td>
  </tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Seleciona a página"></mat-paginator>
